<%-include("../partials/header.ejs")%>
<%-include("../partials/adminnav.ejs") %>

  
  <div class="text-center my-5"><h1>EMPLOYEE DETAILS</h1></div>
  <div class="container my-5">
    <div class="row">
        <div class="col-md-6"><h5>Name :</h5></div>
        <div class="col-md-6"><h5><%=result[0].emp_name%></h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h5>age :</h5></div>
        <div class="col-md-6"><h5><%=result[0].emp_age%></h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h5>gender :</h5></div>
        <div class="col-md-6"><h5><%=result[0].emp_gender%></h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h5>salary :</h5></div>
        <div class="col-md-6"><h5><%=result[0].salary%></h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h5>address :</h5></div>
        <div class="col-md-6"><h5><%=result[0].emp_address%></h5></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h5>mobile no :</h5></div>
        <div class="col-md-6"><h5><%=result[0].emp_mobileno%></h5></div>
    </div> 
    <div class="row">
      <div class="col-md-6"><h5>Department :</h5></div>
      <div class="col-md-6"><h5><%=result[0].d_name%></h5></div>
  </div> 

 
    <%if(result[0].username){%>
        <div class="row">
            <div class="col-md-6"><h5>username :</h5></div>
            <div class="col-md-6"><h5><%=result[0].username%></h5></div>
        </div>
    <%}%>
    <%if(result[0].password){%>
        <div class="row">
            <div class="col-md-6"><h5>password :</h5></div>
            <div class="col-md-6"><h5><%=result[0].password%></h5></div>
        </div>
    <%}%>
  </div>

  <%- include("../partials/footer.ejs") %>