<%-include("../partials/header.ejs")%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DOPE MARKET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/manager">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/manager/addproducts">Add Products</a>
        <a class="nav-link" href="/manager/supdetails">Supplier Details</a>
        <a class="nav-link" href="/manager/proddetails">Product Details</a>
        <!-- <a class="nav-link" href="/manager/payments">Payments</a> -->
        <a class="nav-link active" href="/manager/opentender">Open Tender</a>
        <a class="nav-link" href="/manager/tender/details">Tender Details</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container my-5">
      <h1 class="my-5">Tender Details</h1>
      <div class="row">
        <div class="col-md-6">
            <h3>Tender Name: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_name%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Tender Name: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_name%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Start Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_opentime%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>End Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_closetime%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Created Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_created%></h3>
          </div>
      </div>
      <hr>
      <h2 class="my-5">PRODUCTS ASSOCIATED WITH THIS TENDER</h2>
      <div class="row my-5">
        <div class="col-md-6">
            <h3>PRODUCT NAME</h3>
        </div>
        <div class="col-md-6">
            <h3>PRODUCT MRP (In Rs)</h3>
        </div>
    </div>
     <% for(x in tender){%>
          <div class="row">
              <div class="col-md-6">
                  <h3><%=tender[x].p_name%></h3>
              </div>
              <div class="col-md-6">
                  <h3><%=tender[x].p_mrp%></h3>
              </div>
          </div>
      <%}%>
      <hr>
      <h2 class="my-5 text-center">SUPPLIERS PARTICIPATED</h2>
      <div class="row">
        <div class="col-md-6">
            <h3 class="d-block"> </h3>
        </div>
          <!-- <div class="col-md-6">
              <h3>SUPPLIER NAME</h3>
          </div> -->
      </div>
      <%let i=0;%>
      <%for(x in suppliers){%>
        <%if(suppliers[x].t_id){%>
            <div class="row my-3">
                <div class="col-md-6">
                    <h3><%=i+1%><%i+=1;%></h3>
                </div>
                  <div class="col-md-6">
                      <h3><%=suppliers[x].su_name%></h3>
                  </div>
              </div>
        <%}%>
    <%}%>
    <% if(i==0){%>
      <h1 class="my-5 text-center">
        NONE
      </h1>
     <%}%>
    <hr>
      <h2 class="my-5 text-center">SUPPLIERS NOT PARTICIPATED</h2>
      <div class="row">
        <div class="col-md-6">
            <h3 class="d-block"> </h3>
        </div>
          <!-- <div class="col-md-6">
              <h3>SUPPLIER NAME</h3>
          </div> -->
      </div>
      <%i=0;%>
      <%for(x in suppliers2){%>
        <%if(!suppliers2[x].t_id){%>
            <div class="row">
                <div class="col-md-6">
                    <h3><%=i+1%><%i+=1;%></h3>
                </div>
                  <div class="col-md-6">
                      <h3><%=suppliers2[x].su_name%></h3>
                  </div>
              </div>
        <%}%>
    <%}%>
   <% if(i==0){%>
     <h1 class="my-5 text-center">
       NONE
     </h1>
    <%}%>
  </div>


  <%- include("../partials/footer.ejs") %>